* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #013243;
    color: #32f5c8;
}

h1 {
    font-size: 7rem;
    font-family: 'Sen', sans-serif;
}

p {
    font-size: 1.2rem;
    color: #a9bdc6;
    font-family: 'Inter', sans-serif;
}

.avatar {
    position: absolute;
    z-index: -1;

}

/* main setting */
.container {
    position: relative;
    width: 60%;
    margin: auto;
    min-height: 80vh;
}

.hero-section {
    margin: 1.5rem 0;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
}

.hero-body {
    width: 50%;
    margin-bottom: 5rem;
}

.hero-body p {
    margin: 2rem 0;
}

.btn {
    background-color: #32f5c8;
    color: #013243;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.btn:hover {
    color: #32f5c8;
    background-color: #013243;
    border: 3px solid #32f5c8;
}

footer {
    display: flex;
    align-items: center;
}

footer .link {
    margin-right: 10px;
}

/* Avatar setting */
.Avatar1 {
    left: 738px;
    top: 282px;
}

.Avatar2 {
    left: 732px;
    top: 31px;
}

.Avatar3 {
    left: -108px;
    top: 57px;
}

.Avatar4 {
    left: 522px;
    top: 489px;

}

.Avatar5 {
    left: 568px;
    top: 50px;
}

@media (min-width:1020px) and (max-width:1439px) {

    .container {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 6rem;
    }

    .Avatar1 {
        left: 625px;
        top: 278px;
    }

    .Avatar3 {
        left: -100px;
        top: 98px;
    }

    .Avatar5 {
        left: 482px;
        top: 72px;
    }


    .Avatar2 {
        left: 661px;
        top: 28px;
    }

    .Avatar4 {
        left: 480px;
        top: 508px;
    }

}

@media (min-width:1440px) {
    .container {
        width: 50%;
        margin: auto;
    }

    h1 {
        font-size: 8rem;
        font-family: 'Sen', sans-serif;
    }

    .Avatar1 {
        left: 849px;
        top: 334px;
    }

    .Avatar3 {
        left: -100px;
        top: 98px;
    }

    .Avatar5 {
        left: 654px;
        top: 87px;
    }

    .Avatar2 {
        left: 818px;
        top: 31px;
    }

    .Avatar4 {
        left: 608px;
        top: 534px;
    }
}

@media (max-width:1019px) {
    .container {
        width: 70%;
        margin: auto;
    }

    .hero-body {
        width: 60%;
    }

    h1 {
        font-size: 5rem;
    }

    .Avatar1 {
        left: 510px;
        top: 238px;
    }

    .Avatar3 {
        left: -100px;
        top: 98px;
    }

    .Avatar5 {
        left: 316px;
        top: 75px;
    }


    .Avatar2 {
        left: 477px;
        top: 31px;
    }

    .Avatar4 {
        left: 345px;
        top: 429px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .hero-body {
        width: 100%;
        margin-bottom: 5rem;
    }

    .hero-section {
        margin-top: 8rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .Avatar1 {
        display: none;
    }

    .Avatar3 {
        left: 25px;
        top: 137px;
    }

    .Avatar5 {
        display: none;
    }

    .Avatar2 {
        left: 223px;
        top: 87px;
    }

    .Avatar4 {
        display: none;
    }
}